a
{
	color: #000000;
	text-decoration: none;
}

.help
{
	font-size: 11px;
}

table > thead
{
	font-weight: bold;
	border-bottom: 1px solid #878787;
}

table > thead > tr > td,
table > tbody > tr > td
{
	height: 16px;
	padding: 4px;
}

table > thead > tr > td
{
	text-align: center;
}

table .material,
table .itemType,
table .technique
{
	width: 200px;
}

table .materialType,
table .priceFactor,
table .breakFactor,
table .armor,
table .time,
table .timeFactor,
table .hitPoints
{
	width: 100px;
}

table .priceWeight
{
	width: 110px;
}

table .proof
{
	width: 50px;
}

table .additional,
table .forceModificator
{
	width: 300px;
}

.submenu
{
	margin-bottom: 15px;
}

.materials
{
	margin-top: 20px;
}

table.addMaterial,
table.addTechnique,
table.addItemTypes
{
	width: 100%;
}

table.addMaterial .buttonArea,
table.addTechnique .buttonArea,
table.addItemTypes .buttonArea
{
	text-align: center;
}

table.addMaterial input,
table.addMaterial select,
table.addMaterial textarea,
table.addTechnique input,
table.addTechnique textarea,
table.addItemTypes input
{
	width: 100%;
}

table.addMaterial .priceWeight
{
	width: 155px;
}

table.addMaterial .currency
{
	width: 70px;
}

table.addMaterial textarea,
table.addTechnique textarea
{
	height: 100px;
}

table.addMaterial .materialType
{
	vertical-align: middle;
	position: relative;
}

table.addMaterial .materialType a
{
	display: inline-block;
	position: absolute;
	top: 5px;
	right: 0;
}

table.addMaterial .materialType select
{
	width: 210px;
}

table.addTechnique > tbody > tr > td:first-child
{
	max-width: 150px;
}